# compiled output
!/dist/index.html
!/dist/.htaccess
/dist
/tmp
/out-tsc
/aot
!/src/systemjs*
/src/*.js
/src/*.js.map
/src/**/*.js
/src/**/*.js.map
/src/app/**/*.js
/src/app/**/*.js.map
*.css.map

# dependencies
/node_modules

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
*.vim
*.swp
*.swo
*~

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
testem.log
/typings

# e2e
/e2e/*.js
/e2e/*.map

# System Files
.DS_Store
Thumbs.db
