<h1>Protokolle</h1>

<text-view [path]="'protocolls-view'"></text-view>

<ul>
	<li *ngFor="let item of items">
		{{item.name}}
		<menu class="assoc">
			<a class="btn btn-primary" [routerLink]="['/protocoll/view', item.id]">ansehen</a>
			<a class="btn btn-edit" [routerLink]="['/protocoll/edit', item.id, 'current']">bearbeiten</a>
			<ng-container *ngIf="auth.admin">
				<a class="btn btn-delete" [routerLink]="['/protocoll/delete', item.id, 'current']">löschen</a>
				<a class="btn btn-primary" [routerLink]="['/protocoll/history', item.id]">History</a>
			</ng-container>
		</menu>
	</li>
</ul>

<menu class="bottom">
	<a class="btn btn-back" routerLink="/dashboard">zurück</a>	
	<a class="btn btn-create" [routerLink]="['/protocoll/create/', id]">Protokoll anlegen</a>
</menu>
