<ng-container *ngIf="item">
	<menu class="top">
		<button [ngClass]="{'btn-rated-negative':item.rated<0}" class="btn btn-rate"(click)="rate(item.rated === -1 ? 0 : -1)">-</button>
		<strong>{{item.rating}}</strong>
		<button [ngClass]="{'btn-rated-positive':item.rated>0}" class="btn btn-rate" (click)="rate(item.rated === 1 ? 0 : 1)">+</button>
		<a class="btn btn-primary" (click)="discussion=!discussion">kommentieren</a>
		<a class="btn btn-edit" [routerLink]="['/mcq/edit', item.id, 'current']">bearbeiten</a>
		<a *ngIf="auth.admin" class="btn btn-primary"[routerLink]="['/mcq/history', item.id]">History</a>
		<a class="btn btn-delete" [routerLink]="['/mcq/delete', item.id, 'current']">löschen</a>
	</menu>
	<div>{{item.question}}</div>
	<ol>
		<li *ngFor="let answer of item.answers; index as i"
				[ngClass]="{ 'answr-choice': !(choice>=0), 'answr-solution': choice >= 0 && i === item.solution, 'answr-error': choice === i && item.solution !== i}"
				(click)="choice=i">
				{{answer}}
			</li>
	</ol>
	<p class="msg msg-error" *ngIf="item.solution<0">Die Antwort ist noch nicht bekannt.</p>
	<ng-container *ngIf=discussion>
		<h2>Diskussion</h2>
		<form (ngSubmit)="onSubmit()" #form="ngForm">
			<ng-container *ngIf="!auth.admin">
				<markdown-view [text]="item.discussion"></markdown-view>
			</ng-container>
			<ul>
				<li>
					<label *ngIf="auth.admin" for="discussion">Verlauf</label>
					<label *ngIf="!auth.admin" for="discussion">Dein Beitrag</label>
					<textarea
							rows="3"
							type="text"
							id="discussion"
							name="discussion"
							[(ngModel)]="model.discussion"
							#discussion="ngModel"
							required></textarea>
					<div *ngIf="formErrors.code">{{formErrors.code}}</div>
				</li>
			</ul>
			<menu class="bottom">
				<!-- <button *ngIf="discussion" class="btn btn-back" type="button" (click)="back()">zurück</button> -->
				<button class="btn btn-submit" type="submit" [disabled]="!form.form.valid">abschicken</button>
			</menu>
		</form>
	</ng-container>
</ng-container>
