<form (ngSubmit)="onSubmit()" #form="ngForm">
	<ul>
		<li>
			<label for="question">Frage</label>
			<textarea
					type="text"
		 			id="question"
					name="question"
		 			[(ngModel)]="model.question"
		 			#question="ngModel"
					required>
			</textarea>
			<div class="dtls" *ngIf="formErrors.question">{{formErrors.question}}</div>
		</li>
		<li>
			<label for="answers">Antworten</label>
			<div *ngFor="let answer of model.answers; index as i; trackBy: trackByIndex" class="input-group">
				<span class="input-group-addon">
					<input 
						type="radio"
						[(ngModel)]="model.solution"
						name="solution"
						[value]="i"
					/>
				</span>
				<input
					type="text"
		 			id="answer_{{i}}"
					name="answer_{{i}}"
		 			[(ngModel)]="model.answers[i]"
					minlength="1"
					placeholder="Antwort eingeben.."
					class="form-control"
					required
					/>
				<span class="btn btn-delete" (click)="removeAnswer(i)">x</span>
			</div>
			<div class="input-group">
				<span class="input-group-addon">
					<input 
						type="radio"
						[(ngModel)]="model.solution"
						name="solution_radio"
						[value]="-1"
						id="unknown-answer"
					/>
					<label for="unknown-answer">Ich kenne die Antwort nicht</label>
				</span>
			</div>
			<span class="btn btn-primary" (click)="addAnswer()">Antwort hinzufügen</span>
		</li>
		<li>
			<label for="generation">Generation</label>
			<select
					*ngIf="generationCats"
		 			id="generation"
					name="generation"
		 			[(ngModel)]="model.generation"
		 			#generation="ngModel"
					required>
				<option *ngFor="let generationCat of generationCats" [ngValue]="generationCat.id">
					{{generationCat.name}}
				</option>
			</select>
			<div class="dtls" *ngIf="formErrors.generation">{{formErrors.generation}}</div>
		</li>
		<li>
			<label for="original">Prüfungsfrage</label>
			<select
		 			id="original"
					name="original"
		 			[(ngModel)]="model.original"
		 			#original="ngModel"
					required>
				<option *ngFor="let originalCat of originalCats" [ngValue]="originalCat.value">
					{{originalCat.label}}
				</option>
			</select>
			<div class="dtls" *ngIf="formErrors.original">{{formErrors.original}}</div>
		</li>
		<li *ngIf="parent.auth.admin">
			<label for="discussion">Discussion</label>
			<textarea
					type="text"
					id="discussion"
					name="discussion"
		 			[(ngModel)]="model.discussion"
		 			#discussion="ngModel"
					>
			</textarea>
			<div class="dtls" *ngIf="formErrors.discussion">{{formErrors.discussion}}</div>
		</li>
	</ul>

	<menu class="bottom">
		<a *ngIf="!model.id" class="btn btn-back" routerLink="/dashboard">zurück</a>	
		<button type="button" class="btn btn-back" *ngIf="model.id" (click)="back()">zurück</button>
		<button class="btn btn-submit" type="submit" [disabled]="!form.form.valid">{{submitLabel}}</button>
		<a *ngIf="parent.version != 'new'" class="btn btn-delete" [routerLink]="['/mcq/delete/', model.id, parent.version]">Frage löschen</a>
	</menu>
</form>
