<form (ngSubmit)="parent.onSubmit()" #form="ngForm">
	<ul>
		<li>
			<label for="raw">Frage samt Antworten</label>
			<textarea
					type="text"
		 			id="raw"
					name="raw"
		 			[(ngModel)]="model.raw"
		 			#raw="ngModel"
					required>
			</textarea>
			<div class="dtls" *ngIf="formErrors.raw">{{formErrors.raw}}</div>
		</li>
		<li>
			<label for="generation">Generation</label>
			<select
					*ngIf="generationCats"
		 			id="generation"
					name="generation"
		 			[(ngModel)]="model.generation"
		 			#generation="ngModel"
					required>
				<option *ngFor="let generationCat of generationCats" [ngValue]="generationCat.id">
					{{generationCat.name}}
				</option>
			</select>
			<div class="dtls" *ngIf="formErrors.generation">{{formErrors.generation}}</div>
		</li>
		<li>
			<label for="original">Prüfungsfrage</label>
			<select
		 			id="original"
					name="original"
		 			[(ngModel)]="model.original"
		 			#original="ngModel"
					required>
				<option *ngFor="let originalCat of originalCats" [ngValue]="originalCat.value">
					{{originalCat.label}}
				</option>
			</select>
			<div class="dtls" *ngIf="formErrors.original">{{formErrors.original}}</div>
		</li>
		<li *ngIf="parent.auth.admin">
			<label for="discussion">Discussion</label>
			<textarea
					type="text"
					id="discussion"
					name="discussion"
		 			[(ngModel)]="model.discussion"
		 			#discussion="ngModel"
					>
			</textarea>
			<div class="dtls" *ngIf="formErrors.discussion">{{formErrors.discussion}}</div>
		</li>
	</ul>

	<menu class="bottom">
		<a *ngIf="!model.id" class="btn btn-back" routerLink="/dashboard">zurück</a>	
		<button type="button" *ngIf="model.id" (click)="back()">zurück</button>
		<button class="btn btn-submit" type="submit" [disabled]="!form.form.valid">{{submitLabel}}</button>
		<a *ngIf="model.id" class="btn btn-delete" [routerLink]="['/mcq/delete/', model.id]">Frage löschen</a>
	</menu>
</form>
