<ng-container *ngIf="item">
	<menu class="top">
		<button *ngIf="item.rated != 0" class="btn btn-rate"(click)="rate(0)">-</button>
		<strong>{{item.rating}}</strong>
		<button *ngIf="item.rated != 1" class="btn btn-rate" (click)="rate(1)">+</button>
		<a *ngIf="!discussion" class="btn btn-primary" [routerLink]="['/mcq/view', item.id]">ansehen / diskutieren</a>
		<a class="btn btn-edit" [routerLink]="['/mcq/edit', item.id, 'current']">bearbeiten</a>
		<a *ngIf="auth.admin" class="btn btn-primary"[routerLink]="['/mcq/history', item.id]">History</a>
		<a class="btn btn-delete" [routerLink]="['/mcq/delete', item.id, 'current']">löschen</a>
	</menu>
	<div>{{item.question}}</div>
	<ol>
		<li *ngFor="let answer of item.answers; index as i"
				[ngClass]="{ 'answr-solution': i === item.solution }"
				>
		{{answer}}</li>
	</ol>
	<ng-container *ngIf=discussion>
		<h2>Diskussion</h2>
		<form (ngSubmit)="onSubmit()" #form="ngForm">
			<ng-container *ngIf="!auth.admin">
				<markdown-view [text]="item.discussion"></markdown-view>
			</ng-container>
			<ul>
				<li>
					<label *ngIf="auth.admin" for="discussion">Verlauf</label>
					<label *ngIf="!auth.admin" for="discussion">Dein Beitrag</label>
					<textarea
							type="text"
							id="discussion"
							name="discussion"
							[(ngModel)]="model.discussion"
							#discussion="ngModel"
							required></textarea>
					<div *ngIf="formErrors.code">{{formErrors.code}}</div>
				</li>
			</ul>
			<menu class="bottom">
				<button *ngIf="discussion" class="btn btn-back" type="button" (click)="back()">zurück</button>
				<button class="btn btn-submit" type="submit" [disabled]="!form.form.valid">abschicken</button>
			</menu>
		</form>
	</ng-container>
</ng-container>
