<h1>MC-Fragen zu {{module.code}}: {{module.name}}</h1>

<text-view [path]="'mcqs-view'"></text-view>
<menu class="assoc">
	<a class="btn btn-primary" [routerLink]="['/mcqs', 'view', module, '3', 'all', '2', '0']">alle</a>
	<a class="btn btn-primary" [routerLink]="['/mcqs', 'view', module, '1', 'all', '2', '0']">gute</a>
	<a class="btn btn-primary" [routerLink]="['/mcqs', 'view', module, '0', 'all', '2', '0']">schlechte</a>
	<a class="btn btn-primary" [routerLink]="['/mcqs', 'view', module, '2', 'all', '2', '0']">unbewertete</a>
	</menu>
<ul>
	<li *ngFor="let item of items">
		<mcq-display *ngIf="item" [item]="item" [discussion]="discussion"></mcq-display>
	</li>
</ul>

<menu class="bottom">
	<a class="btn btn-back" routerLink="/module">zurück</a>
	<a class="btn btn-create" [routerLink]="['/mcq/create/', module.id]">MC-Frage erschaffen</a>
</menu>
