<div *ngFor="let module of sortedModules()" class="panel" [@starred]="module.starred">
	<div class="panel-header">
		<h2 [routerLink]="['/mcqs', 'view', module.id, '3', 'all', '2', '0']">
			<span [ngClass]="{'star': module.starred}" (click)="module.starred = !module.starred; $event.stopPropagation()" style="z-index: 99">★</span>
			{{module.code}}: {{module.name}}
			<ng-container *ngIf="auth.admin">({{module.order_num}})</ng-container>
		</h2>
	</div>
	<div class="panel-body">
		Details
	</div>
	<div class="panel-footer" *ngIf="auth.admin">
		<a class="btn btn-edit" [routerLink]="['/module/edit', module.id, 'current']">bearbeiten</a>
		<a class="btn btn-delete" [routerLink]="['/module/delete', module.id, 'current']">löschen</a>
		<a class="btn btn-primary" [routerLink]="['/module/history', module.id]">History</a>
	</div>
</div>

<menu class="bottom">
	<a *ngIf="auth.admin" class="btn btn-create" routerLink="/module/create">Neue MC-Sammlung anlegen</a>
	<a *ngIf="auth.admin" class="btn btn-primary" routerLink="/module/deleted">Gelöschte MC-Sammlungen ansehen</a>
</menu>