<h1>Benutzer</h1>

<text-view [path]="'users-view'"></text-view>

<ul>
	<li>
		<label for="searchbox">Nutzer finden (&gt; 3 Buchstaben):</label>
		<input
				type="text"
	 			id="searchbox"
				name="searchbox"
				#searchbox
				(keyup)="search(searchbox.value)"
				/>
	</li>
</ul>

<ul class="items">
	<li *ngFor="let item of items | async">
		{{item.username}}
		<menu>
		<ng-container *ngIf="auth.admin">
			<a class="btn btn-edit" [routerLink]="['/user/edit', item.id]">bearbeiten</a>
			<a class="btn btn-delete" [routerLink]="['/user/delete', item.id, 'current']">löschen</a>
		</ng-container>
		</menu>
	</li>
</ul>

<menu class="bottom">
	<a class="btn btn-back" routerLink="/dashboard">zurück</a>
	<a class="btn btn-delete" routerLink="/inactiveusers/delete/0/0">!Inaktive Benutzer löschen!</a>
</menu>
