<form (ngSubmit)="parent.onSubmit()" #form="ngForm">
	<ul>
		<li>
			<label for="path">Pfad</label>
			<input
					type="text"
		 			id="path"
					name="path"
		 			[(ngModel)]="model.path"
		 			#path="ngModel"
		 			pattern="^[A-Za-z0-9 ÄÖÜäöüß_\-:]+$"
					required />
			<div class="dtls" *ngIf="formErrors.path">{{formErrors.path}}</div>
		</li>
		<li>
			<label for="text">Text</label>
			<textarea
					type="text"
					id="text"
					name="text"
		 			[(ngModel)]="model.text"
		 			#text="ngModel"
					required>
			</textarea>
			<div class="dtls" *ngIf="formErrors.text">{{formErrors.text}}</div>
		</li>
		<li>
			<label for="help">Hilfe</label>
			<textarea
					type="text"
					id="help"
					name="help"
		 			[(ngModel)]="model.help"
		 			#help="ngModel"
					>
			</textarea>
			<div class="dtls" *ngIf="formErrors.help">{{formErrors.help}}</div>
		</li>
	</ul>

	<menu class="bottom">
		<a *ngIf="!model.id" class="btn btn-back" routerLink="/texts/view">zurück</a>	
		<button *ngIf="model.id" class="btn btn-back" (click)="back()">zurück</button>
		<button type="submit" class="btn btn-submit" [disabled]="!form.form.valid">{{submitLabel}}</button>
		<a *ngIf="model.id" class="btn btn-delete" [routerLink]="['/text/delete/', model.id]">Text / Hilfe löschen</a>
	</menu>
</form>
