/**
 * modified version of eric meyer's reset 2.0
 * http://meyerweb.com/eric/tools/css/reset/
 */
/**
 * basic reset
 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, main,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/**
 * HTML5 display-role reset for older browsers
 */
article, aside, details, figcaption, figure,
footer, header, menu, nav, section,
main, summary {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/**
 * modified version of normalize.css 3.0.2
 * http://necolas.github.io/normalize.css/
 */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent; }

/**
 * HTML5 display definitions
 * =============================================================================
 */
/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline; }

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none; }

/**
 * Links
 * =============================================================================
 */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0; }

/**
 * Text-level semantics
 * =============================================================================
 */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted;
  cursor: help; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold; }

/**
 * 1. Address styling not present in Safari and Chrome.
 * 2. Set previously resetted italic font-style
 */
dfn,
i, em {
  font-style: italic; }

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/**
 * Embedded content
 * =============================================================================
 */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0; }

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden; }

/**
 * Grouping content
 * =============================================================================
 */
/**
 * Address differences between Firefox and other browsers.
 */
hr {
  box-sizing: content-box;
  height: 0; }

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto; }

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace; }

/**
 * Forms
 * =============================================================================
 */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0; }

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal; }

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: none; }

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto; }

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold; }

/**
 * responsive viewport
 */
@viewport {
  width: device-width; }
/**
 * inherit box model
 */
*,
*::before,
*::after {
  box-sizing: inherit; }

/**
 * iOS "clickable elements" fix for role="button"
 *
 * Fixes "clickability" issue (and more generally, the firing of events such as focus as well)
 * for traditionally non-focusable elements with role="button"
 * see https://developer.mozilla.org/en-US/docs/Web/Events/click#Safari_Mobile
 */
[role="button"] {
  cursor: pointer; }

/**
 * Avoid 300ms click delay on touch devices that support the `touch-action` CSS property.
 *
 * In particular, unlike most other browsers, IE11+Edge on Windows 10 on touch devices and IE Mobile 10-11
 * DON'T remove the click delay when `<meta name="viewport" content="width=device-width">` is present.
 * However, they DO support removing the click delay via `touch-action: manipulation`.
 * See:
 * - http://v4-alpha.getbootstrap.com/content/reboot/#click-delay-optimization-for-touch
 * - http://caniuse.com/#feat=css-touch-action
 * - http://patrickhlauke.github.io/touch/tests/results/#suppressing-300ms-delay
 */
a,
area,
button,
[role="button"],
input,
label,
select,
summary,
textarea {
  touch-action: manipulation; }

/**
 * Always hide an element with the `hidden` HTML attribute (from PureCSS).
 */
[hidden] {
  display: none !important; }

body {
  color: #000000;
  font-size: 14px;
  line-height: 1.5em; }

body > header {
  background-color: #000000;
  color: #FFFFFF; }
  @media print {
    body > header {
      display: none; } }
  body > header h1 {
    padding: 0.4em 0.8em; }

nav {
  margin-top: 48px;
  z-index: 1;
  text-transform: uppercase;
  color: #AAAAAA;
  position: absolute; }
  @media print {
    nav {
      display: none; } }
  nav > span {
    position: absolute;
    top: -30px;
    right: 18px;
    font-size: 21px; }
    @media screen and (min-width: 540px) {
      nav > span {
        display: none; } }
  @media screen and (max-width: 540px) {
    nav {
      background-color: black;
      left: 0;
      right: 0;
      margin: 0; }
      nav .big-screen {
        display: none; } }
  nav a {
    margin: 3px 19px;
    display: block; }
    nav a:last-child {
      margin-bottom: 4px; }

main {
  margin: 48px 20px 0 20px;
  background-color: #FFFFFF; }
  @media screen and (min-width: 540px) {
    main {
      margin-left: 200px; } }

footer {
  margin: 1em;
  margin-top: 2em;
  text-align: right;
  color: #555555; }
  @media screen and (min-width: 500px) {
    footer {
      margin: auto;
      margin-top: 2em;
      width: 80%;
      max-width: 40em; } }
  @media print {
    footer {
      display: none; } }

form ul {
  list-style-type: none;
  margin: 0;
  padding: 0; }
  form ul > li {
    margin: 0;
    padding: 0; }

.dtls {
  -webkit-border-radius: 0 0 0.3em 0.3em;
  -moz-border-radius: 0 0 0.3em 0.3em;
  border-radius: 0 0 0.3em 0.3em;
  border-style: solid;
  border-width: 0.1em;
  border-color: #636c72;
  padding: 0.4em 0.8em;
  border-top-style: none;
  border-left-color: #d9534f;
  border-left-width: 0.4em;
  background-color: #ffdbd7; }

label {
  border-style: solid;
  border-width: 0.1em;
  border-color: #636c72;
  -webkit-border-radius: 0.3em 0.3em 0.3em 0.3em;
  -moz-border-radius: 0.3em 0.3em 0.3em 0.3em;
  border-radius: 0.3em 0.3em 0.3em 0.3em;
  border-color: #636c72;
  padding: 0.4em 0.4em;
  display: block;
  width: 100%;
  border-style: none; }
  label:focus {
    -webkit-box-shadow: 0 0 0.8em 0.1em rgba(255, 92, 0, 0.8);
    -moz-box-shadow: 0 0 0.8em 0.1em rgba(255, 92, 0, 0.8);
    box-shadow: 0 0 0.8em 0.1em rgba(255, 92, 0, 0.8); }
  label.ng-invalid {
    border-left-color: #d9534f;
    border-left-width: 0.4em;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0; }
  label.ng-valid {
    border-left-color: #5cb85c;
    border-left-width: 0.4em; }
  label:disabled {
    background-color: #636c72; }
    label:disabled:hover {
      cursor: not-allowed; }

input {
  border-style: solid;
  border-width: 0.1em;
  border-color: #636c72;
  -webkit-border-radius: 0.3em 0.3em 0.3em 0.3em;
  -moz-border-radius: 0.3em 0.3em 0.3em 0.3em;
  border-radius: 0.3em 0.3em 0.3em 0.3em;
  border-color: #636c72;
  padding: 0.4em 0.4em;
  display: block;
  width: 100%; }
  input:focus {
    -webkit-box-shadow: 0 0 0.8em 0.1em rgba(255, 92, 0, 0.8);
    -moz-box-shadow: 0 0 0.8em 0.1em rgba(255, 92, 0, 0.8);
    box-shadow: 0 0 0.8em 0.1em rgba(255, 92, 0, 0.8); }
  input.ng-invalid {
    border-left-color: #d9534f;
    border-left-width: 0.4em;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0; }
  input.ng-valid {
    border-left-color: #5cb85c;
    border-left-width: 0.4em; }
  input:disabled {
    background-color: #636c72; }
    input:disabled:hover {
      cursor: not-allowed; }

textarea {
  border-style: solid;
  border-width: 0.1em;
  border-color: #636c72;
  -webkit-border-radius: 0.3em 0.3em 0.3em 0.3em;
  -moz-border-radius: 0.3em 0.3em 0.3em 0.3em;
  border-radius: 0.3em 0.3em 0.3em 0.3em;
  border-color: #636c72;
  padding: 0.4em 0.4em;
  display: block;
  width: 100%;
  resize: none; }
  textarea:focus {
    -webkit-box-shadow: 0 0 0.8em 0.1em rgba(255, 92, 0, 0.8);
    -moz-box-shadow: 0 0 0.8em 0.1em rgba(255, 92, 0, 0.8);
    box-shadow: 0 0 0.8em 0.1em rgba(255, 92, 0, 0.8); }
  textarea.ng-invalid {
    border-left-color: #d9534f;
    border-left-width: 0.4em;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0; }
  textarea.ng-valid {
    border-left-color: #5cb85c;
    border-left-width: 0.4em; }
  textarea:disabled {
    background-color: #636c72; }
    textarea:disabled:hover {
      cursor: not-allowed; }

.btn {
  -webkit-border-radius: 0.3em 0.3em 0.3em 0.3em;
  -moz-border-radius: 0.3em 0.3em 0.3em 0.3em;
  border-radius: 0.3em 0.3em 0.3em 0.3em;
  -webkit-transition-duration: 0.4s;
  /* Safari */
  transition-duration: 0.4s;
  border: none;
  color: #FFFFFF;
  padding: 0.4em 0.8em;
  margin: 0.1em;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer; }
  .btn:hover {
    opacity: 0.6; }
  .btn.btn-primary {
    background-color: #0275d8; }
  .btn.btn-submit, .btn.btn-create {
    background-color: #5cb85c; }
  .btn.btn-disabled, .btn:disabled {
    background-color: #636c72; }
    .btn.btn-disabled:hover, .btn:hover:disabled {
      cursor: not-allowed; }
  .btn.btn-help {
    background-color: #5bc0de; }
  .btn.btn-edit {
    background-color: #f0ad4e; }
  .btn.btn-delete {
    background-color: #d9534f; }
  .btn.btn-nav, .btn.btn-rate {
    background-color: #636c72; }
    .btn.btn-nav.btn-rated-positive, .btn.btn-rate.btn-rated-positive {
      background-color: green; }
    .btn.btn-nav.btn-rated-negative, .btn.btn-rate.btn-rated-negative {
      background-color: red; }
  .btn.btn-back {
    background-color: #0275d8;
    -webkit-border-radius: 0 0.3em 0.3em 0;
    -moz-border-radius: 0 0.3em 0.3em 0;
    border-radius: 0 0.3em 0.3em 0;
    position: relative;
    margin-left: 0.8em; }
    .btn.btn-back:after {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      right: 100%;
      width: 0;
      height: 100%;
      border-width: 1.15em 0.8em 1.15em 0;
      border-style: solid;
      border-color: transparent #0275d8 transparent transparent; }

menu {
  padding: 0.4em 0.8em; }
  @media print {
    menu {
      display: none; } }
  menu.top {
    background-color: #333;
    margin: 1em 0; }
  menu.assoc {
    padding: 0.4em 0; }
  menu.bottom {
    margin-top: 1em; }
  menu.help {
    text-align: right; }
  menu.list a {
    display: block; }

.msg {
  -webkit-border-radius: 0.3em 0.3em 0.3em 0.3em;
  -moz-border-radius: 0.3em 0.3em 0.3em 0.3em;
  border-radius: 0.3em 0.3em 0.3em 0.3em;
  border-style: solid;
  border-width: 0.1em;
  border-color: #636c72;
  padding: 0.4em 0.8em;
  background-color: #fff192;
  border-color: #f0ad4e;
  color: #793600; }
  .msg.msg-error {
    background-color: #ff9793;
    border-color: #d9534f;
    color: #620000; }
  .msg.msg-success {
    background-color: #a0fca0;
    border-color: #5cb85c;
    color: #004100; }

.help-more {
  margin-top: 2em;
  -webkit-border-radius: 0 0 0.3em 0.3em;
  -moz-border-radius: 0 0 0.3em 0.3em;
  border-radius: 0 0 0.3em 0.3em;
  border-style: solid;
  border-width: 0.1em;
  border-color: #636c72;
  padding: 0.4em 0.8em;
  background-color: #e3ffff;
  border-color: #5bc0de;
  color: #004967; }

menu strong {
  border-style: solid;
  border-width: 0.1em;
  border-color: #636c72;
  -webkit-border-radius: 0.3em 0.3em 0.3em 0.3em;
  -moz-border-radius: 0.3em 0.3em 0.3em 0.3em;
  border-radius: 0.3em 0.3em 0.3em 0.3em;
  background-color: #FFF;
  padding: 0.4em 0.8em; }

.items {
  list-style-type: none;
  margin: 0;
  padding: 0; }
  .items > li {
    margin: 0;
    padding: 0; }
  .items > li {
    padding: 0.4em 0.8em; }

.stats {
  list-style-type: none;
  margin: 0;
  padding: 0; }
  .stats > li {
    margin: 0;
    padding: 0; }

dashboard h1 {
  padding: 2.5em 0 1em 0; }
dashboard h2 {
  padding: 0.6em 0.8em;
  margin: -0.33333em -0.66667em 0 -0.66667em;
  background-color: #333;
  font-weight: normal;
  color: #FFF;
  text-align: right; }
dashboard .items > li {
  background-color: #CCCCCC; }
dashboard .items ul {
  padding: 0.4em 0; }
dashboard .stats > li {
  display: inline-block; }
  dashboard .stats > li:after {
    content: ' |'; }
  dashboard .stats > li:last-child:after {
    content: ''; }

session-view > div {
  margin-left: 1.5em; }
session-view ol {
  margin-left: 1.5em;
  margin-bottom: 2em;
  list-style-type: decimal; }
  session-view ol li {
    position: relative;
    margin-left: 2em;
    padding: 0.4em 0.8em;
    cursor: pointer; }
    session-view ol li.answr-solution {
      background-color: #a0fca0;
      border-color: #5cb85c; }
    session-view ol li.answr-error {
      background-color: #ff9793;
      border-color: #d9534f; }
    session-view ol li.answr-choice:hover {
      background-color: #CCCCCC; }
      session-view ol li.answr-choice:hover:before {
        content: '?';
        position: absolute;
        left: -3.5em; }
    @media print {
      session-view ol li.answr-correct:before {
        content: '\003e';
        position: absolute;
        left: -3.5em; } }
  session-view ol a {
    display: block; }
    session-view ol a:hover {
      color: inherit; }
session-view .answr-solution:before {
  content: '\003e';
  position: absolute;
  left: -3.5em; }
session-view .answr-error:before {
  content: 'x';
  position: absolute;
  left: -3.5em; }
session-view a {
  color: #000000; }

mcq-display > div {
  margin-left: 1.5em; }
mcq-display ol {
  margin-left: 1.5em;
  margin-bottom: 2em;
  list-style-type: decimal; }
  mcq-display ol li {
    position: relative;
    margin-left: 2em;
    padding: 0.4em 0.8em;
    cursor: pointer; }
    mcq-display ol li.answr-solution {
      background-color: #a0fca0;
      border-color: #5cb85c; }
    mcq-display ol li.answr-error {
      background-color: #ff9793;
      border-color: #d9534f; }
    mcq-display ol li.answr-choice:hover {
      background-color: #CCCCCC; }
      mcq-display ol li.answr-choice:hover:before {
        content: '?';
        position: absolute;
        left: -3.5em; }
    @media print {
      mcq-display ol li.answr-correct:before {
        content: '\003e';
        position: absolute;
        left: -3.5em; } }
  mcq-display ol a {
    display: block; }
    mcq-display ol a:hover {
      color: inherit; }
mcq-display .answr-solution:before {
  content: '\003e';
  position: absolute;
  left: -3.5em; }
mcq-display .answr-error:before {
  content: 'x';
  position: absolute;
  left: -3.5em; }

mcqs-view ul {
  list-style-type: none;
  margin: 0;
  padding: 0; }
  mcqs-view ul > li {
    margin: 0;
    padding: 0; }

markdown-view {
  font-family: monospace; }

protocoll-view > markdown-view {
  font-family: inherit; }
  protocoll-view > markdown-view div {
    margin-top: 2em;
    padding-top: 2em;
    border-style: solid;
    border-width: 0.1em;
    border-color: #636c72;
    border-style: solid none none none; }

h1 {
  font-size: 1.5em;
  font-weight: bold; }
  @media print {
    h1 {
      margin-bottom: 2em; } }

h2 {
  font-size: 1.2em;
  font-weight: bold; }

h3 {
  font-size: 1em;
  font-weight: bold; }

h4 {
  font-size: 1em;
  font-weight: bold;
  color: #777777; }

h5 {
  font-size: 1em;
  font-weight: bold;
  color: #999999; }

h6 {
  font-size: 1em;
  font-weight: bold;
  color: #AAAAAA; }

a {
  text-decoration: none;
  color: #AAAAAA; }
  a:hover {
    color: #555555; }

ul {
  list-style-type: circle;
  margin-bottom: 1em; }

ol {
  list-style-type: decimal;
  margin-bottom: 1em; }

li {
  margin-left: 2em; }

strong {
  font-weight: bold; }

em {
  font-style: italic; }

p {
  margin-bottom: 1em; }
  p:last-child {
    margin-bottom: 0; }

div.input-group {
  margin-bottom: 6px;
  display: flex;
  width: 100%; }
  div.input-group .input-group-addon {
    padding: 8px; }
    div.input-group .input-group-addon input {
      width: auto; }
  div.input-group input {
    width: 100%;
    display: inline-block; }
  div.input-group label {
    display: inline-block;
    width: auto; }

@media print {
  display: none; }

/*# sourceMappingURL=styles.css.map */
