@import 'css-reset-and-normalize-sass/flavored-reset-and-normalize';

$padding-vert: 0.4em;
$padding-horz: 0.8em;
$border-width: 0.1em;
$color-muted: #636c72;
$color-primary: #0275d8;
$color-success: #5cb85c;
$color-info: #5bc0de;
$color-warning: #f0ad4e;
$color-danger: #d9534f;
$color-border: $color-muted;
$color-text-bright: #AAAAAA;
$color-text: #000000;
$color-link: $color-text-bright;

body {
	color: $color-text;
	font-size: 14px;
	line-height: 1.5em;
}

@mixin print-hide {
	@media print {
		display: none;
	}
}

@mixin display-area {
	//width: 96%;
	margin: 1em;
	margin-top: 2em;
	@media screen and (min-width: 500px) {
		margin: auto;
		margin-top: 2em;
		width: 80%;
		max-width: 40em;
	}
}

@mixin round-corners($tl: true, $tr: true, $br: true, $bl:true, $radius: 0.3em) {
	$tlr: if($tl, $radius, 0);
	$trr: if($tr, $radius, 0);
	$brr: if($br, $radius, 0);
	$blr: if($bl, $radius, 0);
	-webkit-border-radius: $tlr $trr $brr $blr;
	-moz-border-radius: $tlr $trr $brr $blr;
	border-radius: $tlr $trr $brr $blr;
}

@mixin border {
	border-style: solid;
	border-width: $border-width;
	border-color: $color-border;
}

@mixin hover {
	-webkit-transition-duration: 0.4s; /* Safari */
	transition-duration: 0.4s;
	&:hover {
		opacity: 0.6;
	}
}

@mixin shadow {
	-webkit-box-shadow: 0 0 .8em .1em rgba(255,92,0,0.8);
	-moz-box-shadow: 0 0 .8em .1em rgba(255,92,0,0.8);
	box-shadow: 0 0 .8em .1em rgba(255,92,0,0.8);
}

@mixin form-element {
	@include border;
	@include round-corners;
	border-color: $color-border;
	padding: $padding-vert ($padding-horz / 2); 
	display: block;
	width: 100%;

	&:focus {
		@include shadow;
	}
	&.ng-invalid {
		border-left-color: $color-danger;
		border-left-width: 0.4em;
	}
	&.ng-valid {
		border-left-color: $color-success;
		border-left-width: 0.4em;
	}
	&:optional {
	}
	&:required {
	}
	&:disabled {
		background-color: $color-muted;
	}
}

body {
	&>header {
		@include print-hide;
		background-color: #000000;
		color: #FFFFFF;
		h1 {
			padding: $padding-vert $padding-horz; 
		}
	}
}

@mixin nav-link {
}

@mixin invisible-list {
	list-style-type: none;
	margin: 0;
	padding: 0;	
	&>li {
		margin: 0;
		padding: 0;
	}
}


nav {
	@include display-area;
	@include print-hide;
	text-transform: uppercase;
	color: $color-text-bright;
	a {
		@include nav-link;
		&:after {
			content: ' \007c';
		}
		&:last-child:after {
			content: '';
		}
	}
}

main {
	@include display-area;
	background-color: #FFFFFF;
}

footer {
	@include display-area;
	@include print-hide;
	text-align: right;
	color: $color-text-bright - #555555;
	a {
		@include nav-link;
	}
}

form ul {
	@include invisible-list;
}

label {
	@include form-element;
	border-style: none;
}

input {
	@include form-element;
}

textarea {
	@include form-element;
	resize: none;
	height: 15em;
}

.btn {
	@include round-corners;
	@include hover;
	border: none;
	color: #FFFFFF;
	padding: $padding-vert $padding-horz; 
	margin: 0.1em;
	//padding: 0 $padding-horz;
	text-align: center;
	text-decoration: none;
	display: inline-block;

	&:disabled{
		@extend .btn-disabled;
	}

	&.btn-primary {
		background-color: $color-primary;
		//color: $color-primary - #777777;
	}

	&.btn-submit, &.btn-create {
		background-color: $color-success;
		//color: $color-success - #777777;
	}

	&.btn-disabled {
		background-color: $color-muted;
		//color: $color-muted - #777777;
	}

	&.btn-help {
		background-color: $color-info;
		//color: $color-info - #777777;
	}

	&.btn-edit {
		background-color: $color-warning;
		//color: $color-warning - #777777;
	}

	&.btn-delete {
		background-color: $color-danger;
		//color: $color-danger - #777777;
	}

	&.btn-nav, &.btn-rate {
		background-color: $color-border;
		//color: $color-border - #777777;
	}

	&.btn-back {
		background-color: $color-primary;
		@include round-corners($tl: false, $bl: false);
		position: relative;
		margin-left: $padding-horz;
		&:after {
			content: '';
			display: block;
			position: absolute;
			top: 0;
			right: 100%;
			width: 0;
			height: 100%;
			border-width: ($padding-vert + 0.5em * 1.5) ($padding-horz) ($padding-vert + 0.5em * 1.5) 0;
			border-style: solid;
			border-color: transparent $color-primary transparent transparent;
		}
	}
}

menu {
	padding: $padding-vert $padding-horz;
	@include print-hide;

	&.top {
		background-color: #333;
		margin: 1em 0;
	}

	&.assoc {
		padding: $padding-vert 0;
		//.btn {
			//	background-color: inherit !important;
			//	padding: 0;
			//	text-decoration: underline;
		//}
	}

	&.bottom {
		margin-top: 1em;
	}

	&.help {
		text-align: right;
	}
	
	&.list {
		a {
			display: block;
		}
	}
}

.msg {
	@include round-corners;
	@include border;
	padding: $padding-vert $padding-horz;
	background-color: $color-warning + #444444;
	border-color: $color-warning;
	color: $color-warning - #777777;
	&.msg-error {
		background-color: $color-danger + #444444;
		border-color: $color-danger;
		color: $color-danger - #777777;
	}
	&.msg-success {
		background-color: $color-success + #444444;
		border-color: $color-success;
		color: $color-success - #777777;
	}
}

.dtls {
	margin-top: 2em;
	@include round-corners;
	@include border;
	padding: $padding-vert $padding-horz;
	background-color: $color-info + #444444;
	border-color: $color-info;
	color: $color-info - #777777;
}

menu strong {
	@include border;
	@include round-corners;
	background-color: #FFF;
	padding: $padding-vert $padding-horz;
}

.items {
	@include invisible-list;
	&>li {
		padding: $padding-vert $padding-horz;
	}
}

.stats {
	@include invisible-list;
}

dashboard {
	h1 {
		padding: 2.5em 0 1em 0;
	}
	h2 {
		padding: ($padding-vert * 1.5) $padding-horz;
		margin: ($padding-vert * -1 / 1.2) ($padding-horz * - 1 / 1.2) 0 ($padding-horz * - 1 / 1.2);
		background-color: #333;
		font-weight: normal;
		color: #FFF;
		text-align: right;
	}
	.items > li {
		background-color: #CCCCCC;
	}
	.items ul {
		padding: $padding-vert 0;
	}
	.stats > li {
		display: inline-block;
		&:after {
			content: ' |';
		}
		&:last-child:after {
			content: '';
		}
	}
}

@mixin mcq {
	&>div {
		margin-left: 1.5em;
	}

	ol {
		margin-left: 1.5em;
		margin-bottom: 2em;
		list-style-type: decimal;
		li {
			position: relative;
			margin-left: 2em;
			padding: $padding-vert $padding-horz;
		}
		a {
			display: block;
			&:hover {
				color: inherit;
			}
		}
	}
	.answr-solution {
		&:before {
			content: '\003e';
			position: absolute;
			left: -3.5em;
		}
	}
	.answr-error {
		&:before {
			content: 'x';
			position: absolute;
			left: -3.5em;
		}
	}
}

session-view {
	@include mcq;
	li {
		cursor: pointer;
		&.answr-solution {
			background-color: $color-success + #444444;
			border-color: $color-success;
		}
		&.answr-error {
			background-color: $color-danger + #444444;
			border-color: $color-danger;
		}
		// detect iOS devices for https://css-tricks.com/annoying-mobile-double-tap-link-issue/
		&.answr-choice:hover {
			background-color: #CCCCCC;
			&:before {
				content: '?';
				position: absolute;
				left: -3.5em;
			}
		}
	}
	a {
		color: $color-text;
	}
}

mcq-display {
	@include mcq;
}

mcqs-view ul {
	@include invisible-list;
}

markdown-view {
	font-family: monospace;
}


h1 {
	font-size: 1.5em;
	font-weight: bold;
	@media print {
		margin-bottom: 2em;
	}
}

h2 {
	font-size: 1.2em;
	font-weight: bold;
}

h3 {
	font-size: 1em;
	font-weight: bold;
}

h4 {
	font-size: 1em;
	font-weight: bold;
	color: $color-text-bright - #333333;
}

h5 {
	font-size: 1em;
	font-weight: bold;
	color: $color-text-bright - #111111;
}

h6 {
	font-size: 1em;
	font-weight: bold;
	color: $color-text-bright;
}

a {
	text-decoration: none;
	color: $color-link;
	&:hover {
		color: $color-link - #555555;
	}
}

ul {
	list-style-type: circle;
	margin-bottom: 1em;
}

ol {
	list-style-type: decimal;
	margin-bottom: 1em;
}

li {
	margin-left: 2em
}

strong {
	font-weight: bold;
}

em {
	font-style: italic;
}

p {
	margin-bottom: 1em;
	&:last-child {
		margin-bottom: 0;
	}
}

protocoll-view {
	markdown-view div {
		padding: $padding-horz $padding-vert;
		@include border;
		@include round-corners;
	} 
}
