@import 'css-reset-and-normalize-sass/flavored-reset-and-normalize';

$padding-vert: 0.4em;
$padding-horz: 0.8em;
$border-width: 0.1em;
$color-muted: #636c72;
$color-primary: #0275d8;
$color-success: #5cb85c;
$color-info: #5bc0de;
$color-warning: #f0ad4e;
$color-danger: #d9534f;
$color-border: $color-muted;
$color-font-bright: #AAAAAA;

body {
	font-size: 14px;
	line-height: 1.5em;
}

@mixin display-area {
	width: 96%;
	@media screen and (min-width: 500px) {
		width: 80%;
		max-width: 40em;
	}
	margin: auto;
	margin-top: 2em;
}

@mixin round-corners($tl: true, $tr: true, $br: true, $bl:true, $radius: 0.3em) {
	$tlr: if($tl, $radius, 0);
	$trr: if($tr, $radius, 0);
	$brr: if($br, $radius, 0);
	$blr: if($bl, $radius, 0);
	-webkit-border-radius: $tlr $trr $brr $blr;
	-moz-border-radius: $tlr $trr $brr $blr;
	border-radius: $tlr $trr $brr $blr;
}

@mixin border {
	border-style: solid;
	border-width: $border-width;
	border-color: $color-border;
}

@mixin hover {
	-webkit-transition-duration: 0.4s; /* Safari */
	transition-duration: 0.4s;
	&:hover {
		opacity: 0.6;
	}
}

@mixin shadow {
	-webkit-box-shadow: 0 0 .8em .1em rgba(255,92,0,0.8);
	-moz-box-shadow: 0 0 .8em .1em rgba(255,92,0,0.8);
	box-shadow: 0 0 .8em .1em rgba(255,92,0,0.8);
}

@mixin form-element {
	@include border;
	@include round-corners;
	border-color: $color-border;
	padding: $padding-vert ($padding-horz / 2); 
	display: block;
	width: 100%;

	&:focus {
		@include shadow;
	}
	&.ng-invalid {
		border-left-color: $color-danger;
		border-left-width: 0.4em;
	}
	&.ng-valid {
		border-left-color: $color-success;
		border-left-width: 0.4em;
	}
	&:optional {
	}
	&:required {
	}
	&:disabled {
		background-color: $color-muted;
	}
}

@mixin link {
	text-decoration: none;
	color: $color-font-bright;
	&:hover {
		color: $color-font-bright - #555555;
	}
}

body {
	&>header {
		background-color: #000000;
		color: #FFFFFF;
		h1 {
			padding: $padding-vert $padding-horz; 
		}
	}
}

nav {
	@include display-area;
	text-transform: uppercase;
	color: $color-font-bright;
	a {
		@include link;
		&:after {
			content: ' |';
		}
		&:last-child:after {
			content: '';
		}
	}
}

h1 {
	font-size: 1.5em;
	font-weight: bold;
}

h2 {
	font-size: 1.2em;
}

main {
	@include display-area;
	background-color: #FFFFFF;
}

footer {
	@include display-area;
	text-align: right;
	color: $color-font-bright - #555555;
	a {
		@include link;
	}
}

form {
	ul, li {
		margin: 0;
		padding: 0;
	}
}

label {
	@include form-element;
	border-style: none;
}

input {
	@include form-element;
}

textarea {
	@include form-element;
	resize: none;
	height: 15em;
}

.btn {
	@include round-corners;
	@include hover;
	border: none;
	color: #FFFFFF;
	padding: $padding-vert $padding-horz; 
	//padding: 0 $padding-horz;
	text-align: center;
	text-decoration: none;
	display: inline-block;

	&:disabled{
		@extend .btn-disabled;
	}

	&.btn-primary {
		background-color: $color-primary;
		//color: $color-primary - #777777;
	}

	&.btn-submit, &.btn-create {
		background-color: $color-success;
		//color: $color-success - #777777;
	}

	&.btn-disabled {
		background-color: $color-muted;
		//color: $color-muted - #777777;
	}

	&.btn-help {
		background-color: $color-info;
		//color: $color-info - #777777;
	}

	&.btn-edit {
		background-color: $color-warning;
		//color: $color-warning - #777777;
	}

	&.btn-delete {
		background-color: $color-danger;
		//color: $color-danger - #777777;
	}

	&.btn-nav, &.btn-rate {
		background-color: $color-border;
		//color: $color-border - #777777;
	}

	&.btn-back {
		background-color: $color-primary;
		@include round-corners($tl: false, $bl: false);
		position: relative;
		&:after {
			content: '';
			display: block;
			position: absolute;
			top: 0;
			right: 100%;
			width: 0;
			height: 100%;
			border-width: ($padding-vert + 0.5em) ($padding-horz - 1em) ($padding-vert + 0.5em) 0;
			border-style: solid;
			border-color: transparent $color-primary transparent transparent;
		}
	}
}

menu {
	padding: $padding-vert $padding-horz;

	&.top {
		background-color: #333;
		margin: 1em 0;
	}

	&.assoc {
		padding: $padding-vert 0;
		//.btn {
			//	background-color: inherit !important;
			//	padding: 0;
			//	text-decoration: underline;
		//}
	}

	&.bottom {
		margin-top: 1em;
	}

	&.help {
		text-align: right;
	}
}

.msg {
	@include round-corners;
	@include border;
	padding: $padding-vert $padding-horz;
	background-color: $color-warning + #444444;
	border-color: $color-warning;
	color: $color-warning - #777777;
	&.msg-error {
		background-color: $color-danger + #444444;
		border-color: $color-danger;
		color: $color-danger - #777777;
	}
	&.msg-success {
		background-color: $color-success + #444444;
		border-color: $color-success;
		color: $color-success - #777777;
	}
}

.dtls {
	margin-top: 2em;
	@include round-corners;
	@include border;
	padding: $padding-vert $padding-horz;
	background-color: $color-info + #444444;
	border-color: $color-info;
	color: $color-info - #777777;
}

ol {
	list-style-type: decimal;
	li {
		margin-left: 2em;
		padding: $padding-vert $padding-horz;
	}
}

menu strong {
	@include border;
	@include round-corners;
	background-color: #FFF;
	padding: $padding-vert $padding-horz;
}

.items {
	&>li {
		padding: $padding-vert $padding-horz;
	}
}

dashboard {
	h1 {
		padding: 2.5em 0 1em 0;
	}
	h2 {
		padding: ($padding-vert * 1.5) $padding-horz;
		margin: ($padding-vert * -1 / 1.2) ($padding-horz * - 1 / 1.2) 0 ($padding-horz * - 1 / 1.2);
		//font-weight: bold;
		background-color: #333;
		color: #FFF;
		text-align: right;
		//text-transform: uppercase;
	}
	.items > li {
		background-color: #CCCCCC;
	}
	.items ul {
		padding: $padding-vert 0;
	}
	.stats > li {
		display: inline-block;
		&:after {
			content: ' |';
		}
		&:last-child:after {
			content: '';
		}
	}
}

session-view {
	ol li a {
		display: block;
	}
	.answr-solution {
		background-color: $color-success + #444444;
		border-color: $color-success;
		color: $color-success - #777777;
	}
	.answr-error {
		background-color: $color-danger + #444444;
		border-color: $color-danger;
		color: $color-danger - #777777;
	}
}
