<text-view [path]="'dashboard'"></text-view>

<section>

	<header>
		<h1>Deine Tests</h1>
	</header>

	<ul class="items">
		<li *ngFor="let session of sessions">
			<h2>{{session.name}}</h2>
			<ul class="stats">
				<li>richtig: {{session.correct}}</li>
				<li>beantwortet: {{session.answered}}</li>
				<li>insgesamt: {{session.total}} ({{session.correct / session.total * 100 }} %)</li>
			</ul>
			<menu class="assoc">
				<a class="btn btn-delete" [routerLink]="['/session/delete', session.id, 'current']">löschen</a>
				<a class="btn btn-primary" [routerLink]="['/session/view', session.id]">los!</a>
			</menu>
		</li>
	</ul>

	<menu class="bottom">
		<a class="btn btn-create" routerLink="/session/create">Test zusammenstellen</a>
	</menu>

</section>

<section>

	<header>
		<h1>MC-Sammlungen</h1>
	</header>

	<ul class="items">
		<li *ngFor="let module of modules">
			<h2>
				{{module.code}}: {{module.name}}
				<ng-container *ngIf="auth.admin">({{module.order_num}})</ng-container>
			</h2>
			<menu class="assoc">
			<a class="btn btn-primary" [routerLink]="['/mcqs', 'view', module.id, '3', 'all', '2', '0']">alle</a>
			<a class="btn btn-primary" [routerLink]="['/mcqs', 'view', module.id, '1', 'all', '2', '0']">gute</a>
			<a class="btn btn-primary" [routerLink]="['/mcqs', 'view', module.id, '0', 'all', '2', '0']">schlechte</a>
			<a class="btn btn-primary" [routerLink]="['/mcqs', 'view', module.id, '2', 'all', '2', '0']">unbewertete</a>
			<a class="btn btn-create" [routerLink]="['/mcq/create', module.id]">erstellen</a>
			<ng-container *ngIf="auth.admin">
				<a class="btn btn-edit" [routerLink]="['/module/edit', module.id, 'current']">bearbeiten</a>
				<a class="btn btn-delete" [routerLink]="['/module/delete', module.id, 'current']">löschen</a>
				<a class="btn btn-primary" [routerLink]="['/module/history', module.id]">History</a>
			</ng-container>
			</menu>
		</li>
	</ul>

	<menu class="bottom">
		<a *ngIf="auth.admin" class="btn btn-create" routerLink="/module/create">Neue MC-Sammlung anlegen</a>
		<a *ngIf="auth.admin" class="btn btn-primary" routerLink="/module/deleted">Gelöschte MC-Sammlungen ansehen</a>
	</menu>

</section>

<section>

	<header>
		<h1>Protokoll-Sammlungen</h1>
	</header>

	<ul class="items">
		<li *ngFor="let exam of exams">
			<h2>
				{{exam.name}}
				<ng-container *ngIf="auth.admin">({{exam.order_num}})</ng-container>
			</h2>
			<menu class="assoc">
				<a class="btn btn-primary" [routerLink]="['/protocolls/view', exam.id]">ansehen</a>
				<ng-container *ngIf="auth.admin">
					<a class="btn btn-edit" [routerLink]="['/exam/edit', exam.id, 'current']">bearbeiten</a>
					<a class="btn btn-delete" [routerLink]="['/exam/delete', exam.id, 'current']">löschen</a>
					<a class="btn btn-primary" [routerLink]="['/exam/history', exam.id]">History ansehen</a>
				</ng-container>
			</menu>
		</li>
	</ul>

	<menu class="bottom">
		<a *ngIf="auth.admin" class="btn btn-create" routerLink="/exam/create">Neue Protokollsammlung anlegen</a>
		<a *ngIf="auth.admin" class="btn btn-primary" routerLink="/exam/deleted">Gelöschte Protokollsammlungen ansehen</a>
	</menu>

</section>
