<h1>Bist Du Dir sicher?</h1>

<text-view></text-view>

<ng-container *ngIf="item">

<p *ngIf="type == 'module'">..., dass du das Modul "{{item}}" wirklich löschen möchtest?</p>
<p *ngIf="type == 'exam'">..., dass du dieses Prüfungsart "{{item}}" wirklich löschen möchtest?</p>
<p *ngIf="type == 'protocoll'">..., dass du das Prüfungsprotokoll "{{item}}" wirklich löschen möchtest?</p>
<p *ngIf="type == 'session'">..., dass du deine Session "{{item}}" wirklich löschen möchtest?</p>
<p *ngIf="type == 'mcq'">..., dass du die MC-Frage "{{item | cut:26}} ..." wirklich löschen möchtest?</p>

<menu class="bottom">
	<button class="btn btn-delete" (click)="delete()">JA! Nun mach schon!</button>
	<button class="btn btn-back" (click)="back()">Hm... Eher nicht...</button>
</menu>
</ng-container>
