<h1>Bist Du Dir sicher?</h1>

<text-view [path]="'delete'"></text-view>

<ng-container *ngIf="item">

<p *ngIf="type == 'user'">..., dass Du den Account "{{item}}" wirklich löschen möchtest?</p>
<p *ngIf="type == 'doc'">..., dass Du die Doku "{{item}}" wirklich löschen möchtest?</p>
<p *ngIf="type == 'text'">..., dass Du den Text "{{item}}" wirklich löschen möchtest?</p>
<p *ngIf="type == 'module'">..., dass Du die MC-Sammlung "{{item}}" wirklich löschen möchtest?</p>
<p *ngIf="type == 'exam'">..., dass Du die Protokollsammlung "{{item}}" wirklich löschen möchtest?</p>
<p *ngIf="type == 'protocoll'">..., dass Du das Protokoll "{{item}}" wirklich löschen möchtest?</p>
<p *ngIf="type == 'session'">..., dass Du deinen Test "{{item}}" wirklich löschen möchtest?</p>
<p *ngIf="type == 'mcq'">..., dass Du die MC-Frage "{{item | cut:26}} ..." wirklich löschen möchtest?</p>
<p *ngIf="type == 'inactiveusers'">..., dass Du {{item}} inaktive Nutzer wirklich löschen möchtest?</p>

<p class="msg msg-warning" *ngIf="version != 'current' || type == 'user' || type == 'doc' || type == 'text' || type == 'session'">Das kann nicht rückgängig gemacht werden!</p>

<menu class="bottom">
	<button class="btn btn-back" (click)="back()">Hm... Eher nicht...</button>
	<button class="btn btn-delete" (click)="delete()">JA! Nun mach schon!</button>
</menu>
</ng-container>
