<ng-container *ngIf="auth.name">
	<a routerLink="/dashboard">Start</a>
	<a routerLink="/session">Lernsessions</a>
	<a routerLink="/module">MC-Sammlungen</a>
	<a routerLink="/exam">Protokolle</a>
	<a [routerLink]="['/user/edit/', auth.id]">Account</a>
	<ng-container *ngIf="auth.admin">
		<a routerLink="/admin">Admin</a>
		<a routerLink="/users/view">Benutzer</a>
		<a routerLink="/texts/view">Txt / Hlf</a>
	</ng-container>
	<a routerLink="/user/create">jmdn einladen</a>
	<a routerLink="/door">Logout</a>
</ng-container>
<ng-container *ngIf="! auth.name">
	<a routerLink="/door">Login</a>
</ng-container>
