<h1>Login</h1>

<text-view [path]="'door'"></text-view>

<form (ngSubmit)="login()" #form="ngForm">
	<ul>
		<li>
			<label for="username">Username</label>
			<input
				type="text"
				id="username"
				name="username"
				[(ngModel)]="model.username"
				#username="ngModel"
				required />
			<div class="dtls" *ngIf="formErrors.username">{{formErrors.username}}</div>
		</li>
		<li>
			<label for="password">Passwort</label>
			<input
				type="password"
				id="password"
				name="password"
				[(ngModel)]="model.password"
				#password="ngModel"
				required />
			<div class="dtls" *ngIf="formErrors.password">{{formErrors.password}}</div>
		</li>
	</ul>
	<menu class="bottom">
		<a class="btn btn-edit" routerLink="/door/reset">Passwort vergessen?</a>
		<button class="btn btn-submit" type="submit" [disabled]="!form.form.valid">Login</button>
	</menu>
</form>
